---
layout: default
title: 
---
<div class="row">
    <div class="col-8 col-md-8 col-sm-8 home-vert-center">
        <div class="home-container">
          <center>
<!--             ^
            <br><span> <b>Skynet</b> <span> -->
            <div class="globe-container">
              <div class="globe"></div>
            </div>
<!--             <span> Neural Net-Based <br>
              Artificial Intelligence<span> -->
          </center><br>
          <pre>[#####              ] 32%</pre>
        </div><br>
    </div>
    <div class="col-4 col-md-4 col-sm-4">
        <!-- <span class="footer-link-title">Posts</span>
        <ul>
        {% assign posts = site._posts | sort:"date" | reverse %}
        {% for post in posts limit:5 %}{% if post.published %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endif %}{% endfor %}    
        </ul> -->
        <span class="footer-link-title">Notes</span>
        <ul>
            {% assign posts = site._notes | sort:"date" | reverse %}
            {% for post in posts limit:5 %}{% if post.published %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endif %}{% endfor %}
        </ul>
        <span class="footer-link-title">Projects</span>
        <ul>
            {% assign posts = site._projects | sort:"date" | reverse %}
            {% for post in posts limit:5 %}{% if post.published %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
            {% endif %}{% endfor %}
        </ul>
    </div>
</div>
<br><br><br>
