<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col">
        <ul class="contact-list footer-content">
          <li><i class="fa fa-creative-commons" aria-hidden="true"></i> Copyright, <a href="https://www.chrisjoy.me">ChrisJoy.me</a>. All Rights Reserved.</li>
        </ul>
      </div>

      <div class="footer-col footer-col-4 site-description" style="float:right">
        <a href="https://github.com/mrchrisjoy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/in/mrchrisjoy" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </div>
  </div>
</footer>
