<footer class="site-footer">

  <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list footer-content">
            <li>Creative Commons <i class="fa fa-creative-commons" aria-hidden="true"></i>, <a href="https://keybase.io/chrisjoy/">Chris Joy</a>. </li>
          </ul>
        </div>

        <div class="footer-col footer-col-3 site-description" style="float:right">
          <div id="quote"></div>
        </div>
        <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/js/quotes.js" | prepend: site.baseurl }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </div>
  </div>
</footer>
