<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col">
        <i class="fa fa-copyright" aria-hidden="true"></i> 2018
        <a href="https://chris.xyz">Chris Joy</a>.
      </div>
      <div class="footer-col footer-col-4 site-description" style="float:right">
        <a href="https://github.com/mrchrisjoy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://linkedin.com/in/mrchrisjoy" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ '/js/main.js' | relative_url }}"></script>
</footer>
