<div class="wrapper">
	<div class="trigger site-navigation">
	<a style="font-size:15px; font-weight: 900;" class="page-link"  href="/">{{site.title}}</a>
	{% for sitePage in site.pages %}
	    {% if sitePage.type == "section" %}
	  	  <a style="float:right;font-size:13px;" class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
	  	  <span style="float:right;font-size:13px;" class="exclamationMark">|</span>
	    {% endif %}
	{% endfor %}
	</div>
</div>
<hr style="margin-top: 2em; height: 1px; border: 0; border-top: 1px solid #E8E8E8; padding-bottom: 20px"/>


