
<div class="wrapper">
  <div class="trigger site-navigation">
  	<a style="font-size: 15px; font-weight: 900;" class="page-link"  href="/index.html">{{site.title}}</a>
    {% for sitePage in site.pages %}
    {% if sitePage.title %}
  	  <a style="float:right;" class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
  	  <span style="float:right;" class="exclamationMark">/</span>
    {% endif %}
    {% endfor %}
    <a style="float:right;" class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a>
  </div>
</div>


