<div class="wrapper">
	<div class="trigger site-navigation">
		<a href="/" class="photo" style="margin-top:-20px;" ><img alt="{{caption}}" src="{{ "/images/pp3.jpg" | prepend: site.baseurl }}"></a>
		<ul class="topnav" id="myTopnav">
			<li class="icon"><ar href="javascript:void(0);" onClick="toggleNav()">&#9776;</ar></li>
			<li><a class="right-nav page-link" href="{{sitePage.url}}/projects">Projects</a><span class="exclamationMark"> </span></li>
			<li><a class="right-nav page-link" href="{{sitePage.url}}/notes">Notes</a><span class="exclamationMark"> </span></li>
			<li><a class="right-nav page-link" href="{{sitePage.url}}/posts">Posts</a><span class="exclamationMark"> </span></li>
		</ul>
	</div>
</div>
<hr style="margin-top: 0em; height: 1px; border: 0; border-top: 1px solid #E8E8E8; padding-bottom: 20px"/>