---
layout: default
---
</div>

<div style="
  background: url('{{ page.cover }}');
  background-size: cover;
  height: 400px;
  margin-top: -70px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  ">
  <div class="post-cover-title">
    <center>
        <h1>{{ page.title }}</h1>
        {% if page.author %} By
      <strong>
        <span class="small-site-title"> {{page.author}} </span>
      </strong>on {% endif %} {% if page.date %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% endif %}
    </center>
  </div>
</div>
<br>
<div class="wrapper">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="postNavigation">
    {% if page.previous.url %}
    <a class="postPrev" href="{{page.previous.url}}">
      &laquo; {{page.previous.title}}
    </a>
    {% endif %} {% if page.next.url %}
    <a class="postNext" href="{{page.next.url}}">
      {{page.next.title}} &raquo;
    </a>
    {% endif %}
  </footer>
</article>
{% include disqus.html %}
{% include footer_links.html %}    
